# Core functionality - changes here should be rare!
/src/app.py                   @RideneFiras
/src/backend/database.py      @RideneFiras
/src/backend/routers/auth.py  @RideneFiras

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RideneFiras
